@import url('https://fonts.googleapis.com/css2?family=New+Rocker&display=swap');

body {
    height: 100%;
    margin: 0;
    background-image: url("../images/cover.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    object-fit: cover;
    font-family: 'New Rocker', cursive;
    color: white;
    font-size: 20px;
}

.container {
    height: auto;
    margin: auto;
    width: 950px;
    background-color: #000;
}

header {
    height: auto;
    display: flex;
    justify-content: space-evenly;
    padding: 15px;
}
.logo img{
    width: 150px;
}

/* menu */
nav ul{
    list-style: none;
    display: flex;
    text-decoration: none;
    
}

nav li a{
    text-decoration: none;
    margin: auto;
    padding: 15px;
    color: white;
}

nav li a:hover {
    background-color: #6D0423;
}

section{
    background-image: url("../images/drumset.jpg");
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 500px;
    object-fit: cover;
}

section{
    display: flex;
    align-items: center;
    justify-content: center;
} 

section .container1 {
    width: 800px;
    margin: 100px;
    
    
}

section .message {
    text-shadow: 0px 1px 1px #000000;
    width: 520px;
    animation: digitando 3s steps(25), blink .4s infinite alternate;
    white-space: nowrap;
    overflow: hidden;
    border-right: 2px solid;
    font-size: 50px;
    margin: auto;
}

@keyframes digitando {
    from {
        width: 0;
    }
}

@keyframes blink {
    40% {
        border-color: rgba(255, 255, 255, 0.2);
    }
}

h1{
    text-align: center;
    margin-bottom: -10px;
}

.conteudo {
    display: flex;
}

.conteudo p{
    text-align: justify;
    margin: 15px;
}

.conteudo img {
    margin-top:0px;
    width: 250px;
    height: 450px;
}